@use "../mq";
@use "../abstracts" as *;
@use "../base" as *;

ul.breadcrumb {
    padding:1rem; 
    list-style: none;
    margin-left: 1rem;
    font-family: $font-family-roboto;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 0.8em;
    color: #bb5807;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: black;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #bb5807;
    text-decoration: underline;
  }