@use "../abstracts" as *;
@use "../mq";

.buttons-wrap {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: clamp(300px, 60vw, 700px);
  font-size: 1rem;
  &--narrow {
    width: clamp(200px, 60vw, 350px);
  }
}

.button {
  $icon-button-height: 2.5vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  white-space: nowrap;
  text-decoration: none;
  padding: 0.3rem;
  border-radius: calc($icon-button-height * 1);
  &__text {
    padding: 0 2.5vh;
  }
  &--prm {
    background-color: $action-color;
    color: $white-color !important;
    svg {
      fill: $white-color !important;
    }
  }
  &--icon {
    gap: 1.3rem;
    justify-content: space-between;
    .button__text {
      padding: 0;
    }
    &.left {
      flex-direction: row-reverse;
      span {
        padding-right: 0.7rem;
      }
    }
    &.right {
      span {
        padding-left: 0.7rem;
      }
    }
  }
  svg {
    height: 1.8rem;
    aspect-ratio: 1/1;
    fill: $text-color;
    transform: rotate(180deg);
    &.back {
      transform: rotate(180deg) scale(0.65);
      transform-origin: center;
    }
  }
}
