@use "../abstracts" as *;
.swipe {
  max-width: 100%;
  &__scroll-box {
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }
  }
  &__item {
    width: clamp(100px, 11vw, 130px);
    margin-right: 5%;
    flex-shrink: 0;
  }
  &__img {
    background-color: $white;
    border-radius: 50%;
    aspect-ratio: 1/1;
    margin-bottom: 7%;
  }
  &__categ {
    text-align: center;
  }
}
