@use "../abstracts" as *;

.cards-wrapper{
  display: flex;
  margin: 0 auto;
}
.cards {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  


  &__item {
    background-color: #fff;
    width: 220px;
    margin: 10px;
    border-radius: 15px;
  }

  &__item p{
    padding: 10px;
  }


  .card-img{
    height: 170px;
    margin-bottom: 15px;
    background-size: cover;
    background-color: #ffc;
    
  }

}

@media (max-width: 480px){
  .cards{
    display: inline-block;
    min-width: calc(50% - 2rem - 1px);
  }
}

@media (max-width:768px){
  .cards{
    display: inline-block;
    max-width: 0;
  }
}
  



