// File for Anzhela
@use "../abstracts" as *;
@use "../mq";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3vh;
  &__img {
    height: clamp(130px, 20vh, 330px);
    display: block;
    object-fit: contain;
    &--bigger {
      height: clamp(180px, 27vh, 370px);
    }
  }
  &__text {
    text-align: center;
    font-size: clamp(0.7rem, 1.3vw, 1rem);
    width: clamp(300px, 50vw, 400px);
  }

  &--logo-middle .container__text {
    display: none;
  }
}
