@use "../abstracts" as *;

.nav {
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
  &__inner {
    display: grid;
    margin: 0 auto;
    align-items: center;
    grid-template-columns: 1fr min-content 1fr;
    padding: 0 2%;
  }
  &__item {
    &::before {
      font-size: 1.7rem;
    }
  }
  &__logo {
    font-size: 2.5em;
  }
  &--right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    grid-column: 3/4;
    div:first-child {
      margin-right: 5%;
    }
  }
  &--left {
    margin-right: auto;
    grid-column: 1/2;
  }
}
