@use "../mq";
@use "../abstracts" as *;
@use "../base" as *;

.section-profile {
  width: 100%;
  margin-top: 1rem;

  .profile {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
      &__img {
          background: gray;
          width: 200px;
          height: 200px;
          border-radius: 50%;
          overflow: hidden;
      }
      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
      }
      &__name {
        font-family: $font-family-roboto;
        font-weight: 400;
        font-size: 20px;
      }
      &__stars i{
          color: $accent-color;
      }
      &__bio {
       padding: 0 1rem 0 1rem;
       font-family: $font-family-roboto;
      }
      &__buttons {
        padding: 0.5rem;
      }
      &__buttons button{
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 1rem;
        background: $action-color;
        font-family: $font-family-roboto;
        font-size: 15px;
        font-weight: 500;
        color: $white-color;
      }
      @include mq.mq($from: tablet) {
        &__bio {
            width: 60%;
        }
    }
  }
}

.section-profile-post {
    .title {
        text-align: center;
    }
    margin-top: 1rem;
    .section-card {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 1rem;
        .card {
            &__footer .fa-trash {
                float: right;
              }
        }
    }
    @include mq.mq($from: tablet) {
        .card {
            width: 330px;
            height: 170px;
            gap: 0;
            &__description {
                display: none;
            }
            &__img, img {
                border-radius: 1rem 0 0 1rem;
            }
            &__content--wrapper {
                border-radius: 0 1rem 1rem 0;
            }
        }
    }
    @include mq.mq($from: desktop) {
        .card {
            width: 450px;
            height: 170px;
            &__description {
                display: none;
            }            
        }
    }
}

.seemore-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 1rem;
    button {
        padding: 0.5rem 2rem;
        border: none;
        border-radius: 1rem;
        background: $action-color;
        font-family: $font-family-roboto;
        font-size: 15px;
        font-weight: 500;
        color: $white-color;
    }
}


