@use "../mq";

.resp-wrap {
  --grid-layout-gap: 2rem;
  --grid-column-count: 2;
  --grid-item--min-width: 250px;
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  @include mq.mq($from: tablet, $until: wide) {
    padding: 0 max(5%, 10px);
  }
  @include mq.mq($from: wide) {
    padding: 0 clamp(10px, 10%, 50px);
  }
  .cardy {
    display: flex;
    &__img {
      background-color: lightblue;
      width: 40%;
      aspect-ratio: 1/1;
    }
    &__content {
      background-color: lightgreen;
      height: 100%;
      flex-grow: 1;
    }
  }
}
