@use "../mq";
@use "../abstracts" as *;
@use "../base" as *;

.addReview{
    font-family: $font-family-roboto;
    margin-top: 80px;
    width: 100%;
    background-color: $action-color;
}

.textarea {
    resize: none;
    padding: 20px;
    height: 130px;
    width: 100%;
    border: 1px solid $action-color;
}

#review-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.review-heading{
    letter-spacing: 1px;
    margin: 30px 0px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.review-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color:$action-color;
    color: #ffffff;
    padding: 10px 20px;
}
.review-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.review-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}

.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

&__profile-img{
        width:50px;
        height: 50px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 10px;
    }
&__profile{
    display: flex;
    align-items: center;
}
&__name-user{
    display: flex;
    flex-direction: column;
}
&__reviews{
    color:$accent-color;
}
}
.name-user strong{
    color: #3d3d3d;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: #979797;
    font-size: 0.8rem;
}

.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}

.button {
    background-color: $action-color;
    border-radius: 50px;
    border:$accent-color ;
    font-family:$font-family-roboto ;
    padding: 10px 15px;
    color: white;
    text-align: center;
    font-size: 0.8rem;

  }
  .threebuttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

 
@media(max-width:1060px){
    .review-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .review-box{
        width:100%;
    }
    .review-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}
::selection{
    color: #ffffff;
    background-color: #252525;
}
 