@use "../abstracts" as *;

.search {
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
  width: 80%;
  height: min-content;
  background-color: $white;
  border-radius: 3rem;
  padding: clamp(5px, 1vw, 10px) calc(clamp(5px, 1vw, 10px) * 2);
  &__icon {
    font-size: 20px;
  }
  &__input {
    border: none;
    outline: none;
    height: 2rem;
    margin-left: 0.4rem;
    width: 80%;
    font-size: 18px;
  }
}

.filters {
  display: block;
  height: 0;
  width: 100%;
}

//   TABLET
@media (min-width: 740px) and (max-width: 980px) {
  .search {
    width: 70%;
  }
}
//   DESKTOP
@media (min-width: 980px) and (max-width: 1824px) {
  .search {
    width: 70%;
  }
}
//   WIDE SCREEN
@media only screen and (min-width: 1824px) {
  .search {
    width: 60%;
  }
}
