// File for Prajent
@use "../abstracts" as *;

.form-wrapper {
  margin: 0 auto;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $white-color;
  width: clamp(300px, 40vw, 350px);
  border-radius: $rounded;
  padding: 1rem 12%;
  &__input {
    width: 100%;
    padding: 8px;
    margin-bottom: 0.9rem;
    border: none;
    border-bottom: 1px solid $text-color;
  }
  label {
    font-size: 0.9rem;
    margin-right: auto;
  }
  &__checkbox {
    font-size: 0.8rem;
    margin-right: auto;
    padding-top: 3%;
    display: flex;
    align-items: center;
    label {
      margin-left: 0.5rem;
    }
  }
  p {
    margin-top: 15%;
  }
}

.hello {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  justify-content: space-between;
  gap: 1rem;
}
