@use "../mq";
@use "../abstracts" as *;
@use "../base" as *;

.steps {
  display: flex;
  flex-direction: column;
  &__card {
    margin: 0 auto;
    height: min(100vh, 700px);
    width: min(95%, 550px);
    background-color: lightcoral;
    border: 1px solid black;
    @include mq.mq($from: mobile, $until: tablet) {
      height: min(calc(100vh - 55px), 700px);
    }
  }
}
