@use "../mq";
@use "../base" as *;
@use "../abstracts" as *;

.layout {
  display: grid;
  background-color: $background-color;
  main > section {
    margin-top: 70px;
  }
  &--no-nav {
    main {
      height: 100vh;
      margin-top: 0 !important;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      &.center {
        justify-content: start;
        section {
          margin-top: 10vh;
        }
      }
      > section {
        margin-top: 00px;
      }
    }
  }
  @include mq.mq($until: tablet) {
    grid-template-columns: 1fr 95% 1fr;
  }
  @include mq.mq($from: tablet, $until: desktop) {
    grid-template-columns: 1fr 85% 1fr;
  }
  @include mq.mq(desktop, $until: wide) {
    grid-template-columns: 1fr 75% 1fr;
  }
  @include mq.mq($from: wide) {
    grid-template-columns: 1fr 65% 1fr;
  }
}
