@use "../mq";
@use "../abstracts" as *;

footer {
  background: rgb(212, 211, 211);
  grid-column: 2/3;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include mq.mq($from: mobile, $until: tablet) {
  }
  @include mq.mq($from: tablet, $until: desktop) {
  }
  @include mq.mq(desktop, $until: wide) {
  }
  @include mq.mq($from: wide) {
  }
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  height: 100%;
  &__logo {
    font-size: 3rem;
   
  }
  &__logo, img {
    margin-top: 0.5rem;
    width: 100px;
  }
  &__links {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    gap: 0.5rem;
  }
  &__copy-write {
    padding: 1rem 1rem;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  &__some {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__some--logo {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  &__copy-write {
    margin-top: 1rem;
  }

  @include mq.mq($from: tablet) {
 
  }
 
}