@use "../mq";
@use "../abstracts" as *;
main {
  height: 100%;
  grid-column: 2/3;
  @include mq.mq($until: mobile) {
    margin-top: $mobile-nav-height;
  }
  @include mq.mq($from: mobile, $until: tablet) {
    margin-top: $mobile-nav-height;
  }
  @include mq.mq($from: tablet, $until: desktop) {
    margin-top: $tablet-nav-height;
  }
  @include mq.mq(desktop, $until: wide) {
    margin-top: $desktop-nav-height;
  }
  @include mq.mq($from: wide) {
    margin-top: $wide-nav-height;
  }
}
