@use "../mq";
@use "../abstracts" as *;
main {
  height: 200vh;
  grid-column: 2/3;
  @include mq.mq($until: mobile) {
    margin-top: $mobile-nav-height;
    border: 3px solid rgba(255, 0, 0, 0.1);
  }
  @include mq.mq($from: mobile, $until: tablet) {
    margin-top: $mobile-nav-height;
    border: 1px dashed rgba(255, 0, 0, 0.1);
  }
  @include mq.mq($from: tablet, $until: desktop) {
    margin-top: $tablet-nav-height;
    border: 1px dashed rgba(0, 0, 255, 0.1);
  }
  @include mq.mq(desktop, $until: wide) {
    margin-top: $desktop-nav-height;
    border: 1px dashed rgba(0, 128, 0, 0.1);
  }
  @include mq.mq($from: wide) {
    margin-top: $wide-nav-height;
    border: 1px dashed rgba(128, 0, 128, 0.1);
  }
}
